/* Crear un archivo HTML y un archivo CSS, vamos a linkear el archivo CSS al archivo HTML y
vamos a hacer lo mismo que el primer ejercicio, pero ahora la página va a tener un color
de fondo a elección, el encabezado H1 tiene que tener una fuente a elección y estar
centrado, lo mismo para el encabezado H2, y por ultimo los párrafos deben tener una
fuente a elección, deben tener un color a elección y deben estar centrados a la izquierda. */

body{
    background-color:  rgba(0, 255, 255, 0.185);
}

h1{
    color: rgb(24, 129, 0);
    text-align: center;
    font-style: italic;
    font-family: fantasy;
}

h2{
    color: rgb(212, 0, 255);
    text-align: center;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: rgb(255, 0, 0);
    text-align: left;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}