/* A partir del siguiente código	HTML	proporcionado, añadir las reglas	CSS	necesarias para 
que la página resultante tenga el mismo aspecto que el de la siguiente imagen:  */

/*PÁRRAFO 1*/
#titulo{
    color:darkslateblue;
}

/*first-child = Toma el primero de su tipo*/
strong:first-child{
    color: red;
}

span.destacado{
    color: orange;
}

/*PÁRRAFO 2*/
#subtitulo{
    color: blue;
}

a:link{
    color: red;
}

a:visited{
    color: red;
}

a:link em{
    color: blue;
}

a:visited em{
    color: blue;
}

/*first-child = Toma el primero de su tipo*/

span.especial{
    color: violet;
}

/*TABLA*/
table, th, td {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000;
}

td{
    color: green;
}

th.especial{
    color: orange;
}

/*last-child = Toma el último de su tipo*/
strong:last-child{
    color: orange;
}

tfoot{
    color: red;
}

th{
    color: red;
}

/*PÁRRAFO 3*/
#adicional{
    color:chartreuse;
}

#especial{
    color: violet;
}

/*last-child = Toma el último de su tipo*/
a:last-child{
    color:green;
}

#adicional{
    color:olive;
}