/*  Por último, sumarle a la landing cartas que muestren productos de esta manera:  */

/*  NAVBAR  */
.navbar-brand {
  color: black;
}

.nav-link {
  color: black;
}

/*  TARJETAS / CARTAS  */
.card{
  text-align: left;
}

.card-title{
  font-family: 'Times New Roman', Times, serif;
}

.card-text{
  font-family: Arial;
}

/*  btn.btn.primary = Llama a la clase y al tipo de botón */
.btn.btn-primary{
  background-color: blue;
}